<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>个人主页</title>
    <link rel="stylesheet" href="/stylesheets/per.css">
</head>
<body>
    <div class="head">
        <div class="headImg">
            <!-- <div class="title">
                <img src="/images/boy.png">
            </div>
            <div class="name">
                <p>鸣人</p>
                <p>编号#1</p>
            </div>
            <div class="ranking">
                <p>1名</p>
                <p>5票</p>
            </div>
            <div class="autograph">
                <p>说到做到，这就是我的忍道</p>
            </div>
            <div class="sign">
                <a href="">活动首页</a>
            </div> -->
        </div>
    </div>
    <!-- 投票列表 -->
    <div class="box">
        <div class="left">
            <span class="line"></span>
            <span class="round"></span>
        </div>
        <div class="cen">
            已投票的好友
        </div>
        <div class="right">
            <span class="round"></span>
            <span class="line"></span>
        </div>
    </div>
        <div class="list">
            <!-- <div class="term">
                <div class="headpor">
                    <a href=""><img src="/images/girl.png"></a>
                </div>
                <div class="listname">
                    <p>纲手</p>
                    <p>编号#5</p>
                </div>
                <div class="throw">
                    <p>投了一票</p>
                </div>
            </div>
            <div class="term">
                <div class="headpor">
                    <a href=""><img src="/images/boy.png"></a>
                </div>
                <div class="listname">
                    <p>aaa</p>
                    <p>编号#1</p>
                </div>
                <div class="throw">
                    <p>投了一票</p>
                </div>
            </div>
            <div class="term">
                <div class="headpor">
                    <a href=""><img src="/images/boy.png"></a>
                </div>
                <div class="listname">
                    <p>test3</p>
                    <p>编号#3</p>
                </div>
                <div class="throw">
                    <p>投了一票</p>
                </div>
            </div>
            <div class="term">
                <div class="headpor">
                    <a href=""><img src="/images/boy.png"></a>
                </div>
                <div class="listname">
                    <p>鸣人</p>
                    <p>编号#13</p>
                </div>
                <div class="throw">
                    <p>投了一票</p>
                </div>
            </div> -->
        </div>
    
</body>
<script src="/javascripts/jquery-3.3.1.js"></script>
<script src="/javascripts/detail.js"></script>
</html>