@charset "nte-8";
/* 默认样式 */
* {
    margin: 0;
    padding: 0;
    list-style: none;
}
ul {
    list-style: none;
}
a {
    color: #333;
    text-decoration: none;/*清除下划线*/
    /* display: inline-block; */
}
.f-s00{
    font-size: 0px;
}
.f-s {
    font-size: 12px;
}
.f-s14 {
    font-size: 14px;
}
.co-99 {
    color: #999;
}
.co-66 {
    color: #666;
}
.co-33 {
    color: #333;
}
.co-cc {
    color: #ccc;
}
.co-ff {
    color: #fff;
}
.co-red {
    color: #ec1611;
}
.fl {
    float: left;
}
.fr {
    float: right
}
.jiacu {
    font-weight: bolder;
}
img {
    width: 100%;
    height: auto;
}
body {
    font-size: 0;
    background: #effbff;
}
/* 头部 */
.headImg {
    width: 100%;    
    height: 172px;
    background: url(../images/bgone.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
}
.title {
    display: inline-block;
    width: 50px;
    border-radius: 50%;
    overflow: hidden;
    margin: 24px 10px 0 18px;
    vertical-align: middle;
}
.name {
    margin: 24px 0px 0 0px;
    display: inline-block;
    vertical-align: middle;
}
.name p {
    line-height: 20px;
    color: #fff;
    font-size: 14px;
}
.ranking {
    text-align: right;
    margin: 14px 0px 0 0px;
    display: inline-block;
    vertical-align: middle;
    float: right;
    margin-right: 20px;
}
.ranking p:first-child {
    color: #ff8a62;
    font-size: 22px;
}
.ranking p:last-child {
    color: #fff;
    font-size: 14px;
    margin-top: 10px;
}
.autograph {
    text-align: center;
    font-size: 18px;
    color: #fff57f;
    margin-top: 5px;
}
.sign {
    text-align: center;
    margin-top: 14px;
}
.sign a {
    display: inline-block;
    width: 110px;
    height: 30px;
    background: #ff8a63;
    border-radius: 20px;
    color: #fff;
    font-size: 14px;
    line-height: 30px;
    box-shadow: 0px 4px 3px rgba(0, 0, 0, 0.3);
}
/* 投票列表 */
.box {
    margin-top: 40px;
    text-align: center;
}
span {
    vertical-align: middle;
    display: inline-block;
}
.left,
.right {
    vertical-align: middle;
    width: 31%;
    display: inline-block;
}
.line {
   
    width:90%;
    height: 1px;
    background: #ff8a63;
}
.round {
    width: 5px;
    height: 5px;
    border-radius: 3px;
    background: #ff8a63;
}
.cen {
    vertical-align: middle;
    margin: 0 5px;
    display: inline-block;
    width: 28%;
    height: 25px;
    background: #ff8a63;
    line-height: 25px;
    color: #fff;
    font-size: 14px;
    text-align: center;
    border-radius: 13px;
}
.right {
    text-align: right;
}
.list {
    margin-top: 25px;
}
.term {
    height: 70px;
    width: 100%;
    border-bottom: #e3e8e8 1px solid;
}
.headpor {
    display: inline-block;
    width: 50px;
    border-radius: 50%;
    overflow: hidden;
    margin: 10px;
    vertical-align: middle;
}
.listname {
    display: inline-block;
    vertical-align: middle;
}
.listname p:first-child {
    color: #323131;
    font-size: 14px;
}
.listname p:last-child {
    color: #949597;
    font-size: 14px;
}
.throw {
    margin: 10px;
    float: right;
    font-size: 14px;
    color: #323131;
}
.topbor {
    border-top: #dddddc 1px solid;
}
